@import '../../style.module.scss';

.startScreen {
  width: 100%;
  margin: 20vh auto;
  text-align: center;
}

.heading {
  font-size: 2.6em;
  text-transform: uppercase;
  margin: 0 0 35px 0;
}

.languages {
  display: block;
  input[type='radio'] {
    opacity: 0;
    margin: 45px 0;
    &:checked + label {
      background: #e8e8e8e6;
      color: #30353e;
      box-shadow: none;
    }
  }
  label {
    font-family: 'Sanchez', serif;
    user-select: none;
    border: $border;
    background: #e8e8e833;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 0 30px;
    box-shadow: $box-shadow;
    transition: $transition;
    &:hover {
      box-shadow: none;
    }
  }
}

.startBtn {
  background: $marine;
  border: $border;
  color: $main-white;
  border-radius: 10px;
  padding: 10px 35px;
  box-shadow: $box-shadow;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 25px 10px 0;
  transition: $transition;
  &:disabled {
    box-shadow: none;
    opacity: 0.3;
  }
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: 10px 10px 5px 0px #00000040 inset;
  }
}
