.container {
  margin: 25px auto;
  width: 80vw;
  min-width: 1100px;
  .head {
    display: flex;
    justify-content: space-between;
    .homeBtn {
      text-transform: uppercase;
      user-select: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .newStringBtn {
      text-transform: uppercase;
      user-select: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .timer {
      font-family: 'Sanchez', serif;
      font-size: 1.5em;
      margin: 0 auto;
    }
  }

  .foot {
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0;
    .mistakeCountGood {
      color: #28b9b5;
    }
    .mistakeCountPoor {
      color: #ff5049;
    }
    .themeChangeBtn {
      text-transform: lowercase;
      user-select: none;
      cursor: pointer;
      float: right;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.keyboardWrapper {
  margin: 20px auto 0;
  box-sizing: border-box;
  .mainInput {
    background: #f2f2f233;
    outline: none;
    border: 2px solid #ededed;
    font-size: 1em;
    padding: 3px 10px;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px #00000033;
    font-family: 'Sanchez', serif;
  }
  .typeString {
    margin: 30px auto 0;
    user-select: none;
    font-family: 'Sanchez', serif;
    padding: 0 8px;
    text-align: center;
  }
}
