@import '../../style.module.scss';

.container {
  width: 100%;
  margin: 20vh auto;
  text-align: center;
}

.heading {
  text-transform: uppercase;
  margin: 15px auto 25px;
  font-size: 2.6em;
}

.resultsWrap div {
  margin: 20px;
}

.buttons {
  margin: 45px auto;
  button {
    font-family: 'Sanchez', serif;
    font-size: 1em;
    border: $border;
    color: $main-white;
    background: #e8e8e833;
    border-radius: 10px;
    margin: 0 30px;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    height: 55px;
    width: 193px;
    transition: $transition;
    &:hover {
      box-shadow: none;
    }
    &:active {
      background: #e8e8e8e6;
      color: #30343e;
    }
  }
}
