.keyboard {
  width: 100%;
  max-width: 1085px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(5, 60px);
  gap: 5px;
  margin: 10px auto 40px;
}

.key {
  background: #cdcdcd;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  grid-column: span 2;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  padding-top: 17px;
  color: #30353e;
  box-shadow: 0px 10px 20px #00000033;
}

.delete {
  grid-column: span 4;
}

.tab {
  grid-column: span 3;
}

.backslash {
  grid-column: span 3;
}

.capslock {
  grid-column: span 4;
}

.return {
  grid-column: span 4;
}

.leftshift {
  grid-column: span 5;
}

.rightshift {
  grid-column: span 5;
}

.leftctrl {
  grid-column: span 3;
}

.command {
  grid-column: span 3;
  font-size: 14px;
  padding-top: 20px;
}

.space {
  grid-column: span 13;
}

.active {
  background: #ffce58cc;
  transition: all 0.1s ease-in;
}
