@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Sanchez&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #222831 -38.57%, #393e46 58.33%, #222831 153.42%);
  font-family: 'Jura', sans-serif;
  font-size: 24px;
  height: 100vh;
  width: 100vw;
  color: #f0f0f0;
  padding: 0 40px;
  box-sizing: border-box;
  overflow: hidden;
}
